<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocalChat</title>

    <link rel="stylesheet" href="/css/chatComputer.css" />
    <link rel="stylesheet" href="/css/chatPhone.css" />

    <!-- <link rel="stylesheet" href="https://umutsar.net/lib/style@1.0.css"> -->
</head>

<body>



    <div id="kapsayici">
        <p id="messageHeader" style="color: chocolate">
            SOHBETLER
        </p>

        <div id="chatsScreen">
            chatsScreen
        </div>

    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/ChatsEjs/subscribe-notification.js"></script>
</body>

</html>