<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>


    <div id="formParent">
        <h2>Giriş Yap</h2>

        <form action="/login" method="POST">
            <div id="contentParent">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div id="usernameParent">
                    <label for="username">Kullanıcı Adı:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div id="passwordParent">
                    <label for="password">Parola:</label>
                    <input type="password" id="password" name="password" required></input>
                </div>

                <% if (notActive==1) { %>
                    <div class="notActiveAlert">Hesabınız belirli nedenlerden dolayı kapalıdır. Hata olduğunu
                        düşünüyorsanız
                        <a href="mailto:contact@umutsar.com">iletişime geçin</a>.
                    </div>
                    <% } else if(notActive==2) {%>
                        <div class="loginErrorAlert">Kullanıcı adı veya şifre hatalı. Lütfen tekrar deneyin!</div>
                        <% }%>

                            <input type="submit" value="Giriş Yap">
            </div>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>