

#search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#search input {
    margin-top: 3vh;
    font-size: 14px;
    padding: 6px;
    width: 60vw;
    height: 3vh;
    border-radius: 8px;
}
