


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifremi Unuttum</title>
</head>
<body>
    


    <form action="/login" class="login" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="pass-link"><a href="#">Şifremi unuttum</a></div>

        <div class="bosluk"> </div>
        <div id="girisButonu" class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Giriş">
        </div>
        <div class="signup-link">Üye Değilim. <a href="">Üye Ol</a></div>

        <% if (notActive==1) { %>
            <div class="alertParent">
                <div class="notActiveAlert">Hesabınız belirli nedenlerden dolayı kapalıdır.
                    <a href="mailto:contact@umutsar.com">iletişime geçin</a>.
                </div>
            </div>
            <% } else if(notActive==2) {%>
                <div class="alertParent">
                    <div class="loginErrorAlert">Kullanıcı adı veya şifre hatalı. Lütfen tekrar deneyin!
                    </div>
                </div>

                <% }%>

    </form>



</body>
</html>